* {
    margin:0;
}

nav {
    width:120%;
    margin-left: -10%;
    padding: 30px;
    background-color: black;
    float: top;
}

body {
    overflow-x: hidden;
}

main {
    background-color: gray;
}

.container {
    width:1150px;
    margin: auto;
    background-color: white;
    min-height: 100vh;
}


.portrait{
    padding-right: 100px;
    float: right;
    position: relative;
    top: -170px;
    width: auto;
    height: 165px;
}

.name {
    font-size: 4em;
    align-items: top;
    padding:50px;
    border-bottom: 1px solid black;
}

